@page "/"

@using StockApp.Models;
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<!-- Page Content -->
<div class="row gx-lg-5 align-items-center container">
    <!-- Login Row -->
    <div class="row gx-lg-5 align-items-center col-lg-5 my-4">
        <div class="col-lg-12">
            <h1 hidden="@hide" class="font-weight-light">LOGIN</h1>
            <br/><br/>
                <div class="form-group">

                    <label hidden="@hide" style="color:darkblue;" for="username">Username</label>
                    <input hidden="@hide" type="text" class="form-control" id="username" @bind-value="userName" placeholder="Enter username">

                </div>
                <br/>
                <div class="form-group">
                    <label hidden="@hide" style="color:darkblue;" for="password">Password</label>
                    <input hidden="@hide" type="password" class="form-control" id="password" @bind-value="userPassword" placeholder="Enter password">
                </div>
                <br/>
                <button hidden="@hide" class="btn btn-primary" @onclick="UserLogin" >Login</button>
                <button  class="btn btn-primary" @onclick="RegisterUser">Register</button>
                <p hidden="@(!hide)">Welcome User</p>
                <p hidden="@(!show)">Thank you for registering</p>
                    <p>@userName</p>
                <button hidden="@(!hide)" class="btn btn-primary">Logout</button>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <img style="height:350px; width:100%;" src="https://s.wsj.net/public/resources/images/OG-CR604_201905_G_20190516154959.gif"/>
        <br/>
        <img style="height:360px; width:100%;" src="https://media.tenor.com/jw92b2HUuTAAAAAM/stonks-stocks.gif"/>
    </div>
</div>

@code {
    private User? user = null;
    private string userName;
    private string userPassword;
    public static bool loggedIn = false;
    private string[]? registerUser;
    protected async override Task OnInitializedAsync()
    {
        await LocalStorage.SetItemAsync("loggedIn",loggedIn = false);
        //return base.OnInitializedAsync();
    }
    private async Task<bool> ValidateUser()
    {
        return await Task.FromResult(true);
    }
    private List<string> userList = new List<string>();
    static public bool hide  {get;set;} 
    public bool show  {get;set;} 
    private async Task UserLogin()
    {
        userList.Add(userName);
        await LocalStorage.SetItemAsync("userName",userList.ToArray()); 
        hide = !hide;
        loggedIn = true;
        await LocalStorage.SetItemAsync("loggedIn",loggedIn = true);
        NavigationManager.NavigateTo("Welcome");
    }
    private async Task RegisterUser()
    {
        userList.Add(userName);
        await LocalStorage.SetItemAsync("userName",userList.ToArray());
        hide = !hide;
        show = true;
        NavigationManager.NavigateTo("Welcome");
    }
}
